.searchResults-container{
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 1.9375rem 1.875rem;
    border-left: 4px solid grey;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1px;
    width: 90%;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.014);
    cursor: pointer;    
    
}



.searchResults-container:hover {
    background-color: rgb(241, 242, 245);    
    border-left: 4px solid #FFC311;
}

.searchResults-desc{

}